@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ebfbd4e6;
}
body {
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.nav__bar {
    display: flex;
    height: 4rem;
    background-color: #222629;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

}

.nav__content {
    padding-left: 3.5rem;
    font-size: 1.5rem;
    color: #86c323;
}
.nav__content img{
    width: 44px;
    height:44px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    align-items: center;

}

.nav__list li {
    list-style: none;
    padding: 0.8rem;

}

.nav__list li a {
    text-decoration: none;
    color: #fff;
    font-family: poppins;
}

.nav__list a:hover {
    color: #86c323;
    text-decoration: underline;
    transition: all  ease-in 0.5s;

}

.container {
    height: 100vh;
    background-color: #474b4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
/* home section styling */
.home__text {
    font-size: 3rem;
    font-weight: 400;
    padding-left: 10px;
    color: #fff;

}
.home__text span{
    color: #86c232;
}

.home__pic img {
    width: 400px;
}
/* about section styling */
.about__text {
    position: relative;
    font-size: 4rem;
    color: #fff;
}
.about__text span{
    color: #86c232;
}

.about__img img {
    width: 400px;
}
.about__text button{
    background-color: #86c232d6;
    height: 4.1rem;
    width: 20rem;
    border-radius: 1.1rem;
    font-size: 0.3em;
    color: rgba(232, 234, 235, 0.897);
    border: solid #222629;
    cursor: pointer;
}
.about__text button:hover{
    transform: translateX(0.5rem);
    background-color: #86c232d6;
    color: rgba(232, 234, 235, 0.897);
    transition: all linear 0.5s;
}

.contact-details{
    display:none;
z-index: 1;
    position: absolute;
    font-size: 20px;
    margin-top: 1rem;
    left: 21.5rem;
    right: 0;
    background-color: #86c232d6;
    border-radius: 10px;
    transition:all linear 0.3s;
}

.show{
    display: block;
}
.contact-details li{
    list-style: none;
    padding: 0.5rem;
    cursor: pointer
}



.contact img{
    width: 24px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
}
.download{
    padding-top: 4px;
}
 /* footer styling */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 15px;
    height: 5rem;
    background-color:#222629;
    color: #86c323;
    font-size: 18px;
    font-weight: 500;
    
}

.links a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.links a:hover {
    color: #86c232;
    text-decoration: underline;
}
 
/* portfolio styling */

.Portfolio{
    min-height: 90vh;
    background-color: #7ca93efa;
}
.portfolio__head{
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    color: #FFF;
}
.card__wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 2rem;
}
.card{
    background-color:#222629;
    border-radius: 10px;
    border: transparent;
    padding: 3rem 2rem;
    /* position: relative; */
    text-align: center;
    width: auto;
    min-height: 30rem;
    margin-bottom:0;

}
.card h2{
    color: #fff;
    padding-bottom: 2rem;
    margin-bottom: .5rem;
    display: inline-block;
}
.card p{
  line-height: 1.6;
  color: #86c232;
  overflow: none;
}
.card img{
    width: 40px;
    height: 40px;
}

.card:hover p{ 
    color: #222629;
}
.card:hover h2{
    color:#7ec915;

}
.card:hover{
    background-color: #ebfbd4e6;
    transform: translateY(-0.5rem);
    transition: all linear 0.5s;
}

.card a{
    text-decoration: none;
    text-overflow: hidden;
}
.links a img{
    width: 40px;
    height: 40px;
    opacity: 0.6;
}